<!DOCTYPE html>
<html>
  <head>
    <title>Lookup</title>
    <!-- Latest compiled and minified CSS -->
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAuxXNzjo-GEuPYBskFMuaqhmLBJHsjesw"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Geocomplete -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black" />
  <link rel="icon" type="image/ico" href="/assets/lookup(1).jpeg">
    <script src="jquery.geocomplete.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
    <%= render '/header' %>
  </head>
  <div class="container text-center">
    <div class=" container alert"><%= flash[:alert] %></div>
  </div>
    <%= yield %>
  </body>
</html>
